.body{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    border-radius: 20px;
    padding: 10px;
    background-color: aqua;
    margin:auto;
    width: 40%;
    text-align: center;
    align-content: center;
}

.container h1{
    color: rgb(255, 0, 0);
}
.content{
    display : flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}