.body{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    border-radius: 20px;
    padding: 10px;
    background-color: aqua;
    margin:auto;
    width: 40%;
    text-align: center;
    align-content: center;
}
.container h1{
    color: rgba(250, 7, 7, 0.966);
}
.content{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.variable{
    width: 15px;
    border: 0px;
}